[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
white = "*"
black = "*"

[packages]
auttitude = "*"
pyqt5 = "*"
pyqtwebengine = "*"
openstereo = {file = "https://github.com/spamlab-iee/os/tarball/master"}
mypy = "*"
pylama = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
